* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #f0f7ff, #dfe8f9);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: #f9fafc;
}

.header__icon img {
  width: 15rem;
}

.header__search {
  background-color: #f0f7ff;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.header__search input {
  border: none;
  outline: none;
  font-size: 2rem;
  background: transparent;
  color: #74788d;
  padding: 1rem 1rem;
  width: 35rem;
}

.header__search button {
  font-size: 2rem;
  color: white;
  padding: 1rem 2.5rem;
  background-color: #4c51bf;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header__search button:hover {
  background-color: #434190;
}

.header__action {
  display: flex;
  gap: 1rem;
}

.header__action button {
  font-size: 2rem;
  color: white;
  padding: 1rem 2rem;
  background-color: #4c51bf;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header__action button:hover {
  background-color: #434190;
}

.hero {
  display: flex;
  padding: 0 40px;
  height: calc(100vh - 70px);
  gap: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero__search__results {
  flex: 0.4;
  height: 100%;
  background-color: #f0f7ff;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}
.hero__search__results::-webkit-scrollbar {
  display: none;
}

.hero__search__result {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  background: linear-gradient(
    135deg,
    #f0f7ff,
    #dfe8f9,
    #d3e3f6,
    #c6def3,
    #b9d9f0
  );
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem 3rem;
  transition: all 0.3s ease;
}

.hero__search__result:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.hero__search__result__img img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 1.5rem;
}

.hero__search__result__details {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.hero__search__result__details h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #2d3748; /* a dark gray color */
  margin-bottom: 0.5rem;
}

.hero__search__result__details h3 {
  font-size: 1.5rem;
  font-weight: normal;
  color: #4a5568; /* a medium gray color */
}

.hero__details {
  flex: 1;
  height: 100%;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    135deg,
    #f0f7ff,
    #dfe8f9,
    #d3e3f6,
    #c6def3,
    #b9d9f0
  );
  /* align-items: center; */
}
.hero__details::-webkit-scrollbar {
  display: none;
}

.hero_recipe_detail_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_recipe_detail_img img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 1.5rem;
}

.hero_recipe_detail_quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 2rem 10rem;
  font-size: 2rem;
}

.cooking_time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  color: #2d3748;
}

.people_servings,
.bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  color: #2d3748;
}
.hero_recipe_detail_quantity button {
  font-size: 1rem;
  color: white;
  padding: 0.5rem 1rem;
  background-color: #4c51bf;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero_recipe_detail_quantity button:hover {
  background-color: #434190;
}

.hero_recipe_detail_ingredients {
  margin-top: 1rem;
  padding: 2rem 10rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero_recipe_detail_ingredients h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #2d3748; /* a dark gray color */
  margin-bottom: 2rem;
}

.hero_recipe_detail_ingredients ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20rem;
  row-gap: 1rem;
  font-size: 2rem;
}

.hero_recipe_detail_cooking {
  margin-top: 3rem;
  font-size: 2rem;
  color: #2d3748;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.hero_recipe_detail_cooking h2 {
  margin-bottom: 2rem;
}

.hero_recipe_detail_cooking p {
  margin-bottom: 2rem;
}

.hero_recipe_detail_cooking a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #4c51bf;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.hero_recipe_detail_cooking a:hover {
  background-color: #434190;
  transform: translateY(-0.5rem);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
